@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: "Larsseit", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #22356f;
  background-color: #fff;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1045px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 90px;
  background-color: #f4f9e2;
}
.header__container {
  max-width: 1117px;
  margin: 0 auto;
  background-color: #22356f;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 30px 0;
}
.header__logo-img {
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.header__nav {
  position: relative;
  z-index: 1;
}
.header__list {
  font-family: "Larsseit";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__list li a {
  margin-right: 38px;
  font-size: 14px;
  line-height: 16px;
  color: #22356f;
  text-decoration: none;
  cursor: pointer;
}
.header__list li a:hover {
  color: #fab63e;
  -webkit-transition: color 250ms ease-in-out;
  -o-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}
.header__list li:last-child {
  margin-right: 0px;
}
.header__button {
  position: relative;
  z-index: 3;
}
.header__button a {
  padding: 20px 30px;
  background: #62d0df;
  border-radius: 50px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  font-family: "Larsseit";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.header__button a:hover {
  background-color: #fab63e;
  -webkit-transition: background-color 500ms ease-in-out;
  -o-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}

.main {
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;
}

.main__content {
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 484px;
  font-family: "Larsseit";
  font-weight: 700;
  padding-top: 168px;
}

.main__title {
  padding: 154px 0px 53px 0px;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #62d0df;
}

.main__subtitle {
  font-size: 48px;
  line-height: 53px;
  letter-spacing: -0.035em;
  color: #22356f;
}

.main__text {
  padding-top: 28px;
  font-family: "Larsseit";
  font-weight: 300;
  font-size: 24px;
  line-height: 31px;
  color: #22356f;
}

.action-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 30px;
}

.main__btn {
  padding: 10px 30px;
  margin-right: 10px;
  font-family: "Larsseit";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #fab63e;
  background: inherit;
  border: none;
  cursor: pointer;
}

.main__btn:hover {
  background: #fab63e;
  color: white;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.main__decor {
  background-image: url("../images/Rectangle.png");
  background-repeat: no-repeat;
  width: 700px; /* задает ширину элемента */
  height: 820px; /* задает высоту элемента */
  position: absolute;
  right: -100px;
  top: -80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__decor-images {
  position: absolute;
  right: 99px;
  top: 182px;
}

.page {
  background-color: #f4f9e2;
}

.why {
  background: url("../images/person_sec2.png"), #62d0df;
  background-position: top right, bottom left;
  background-size: contain, cover;
  background-repeat: no-repeat, repeat;
}
.why__title {
  padding: 154px 0px 75px 0px;
  font-family: "Larsseit";
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  color: #ffffff;
  font-family: "Larsseit";
  font-weight: 700;
}
.why__subtitle {
  max-width: 555px;
  font-family: "Larsseit";
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 500;
  padding: 0px 0px 95px 0px;
}

.about {
  position: relative;
  background-color: #ffffff;
}
.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 150px 0px 70px 0px;
}
.about__title {
  position: absolute;
  left: 123px;
  top: 150px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #22356f;
}
.about__text {
  max-width: 554px;
}
.about__text > p {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.005em;
  font-family: "Larsseit";
  font-weight: 500;
  color: #22356f;
}

.-webkit-input-placeholder {
  display: none;
}

.columns {
  background-color: #ffffff;
}
.columns__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
}
.columns__body {
  width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 25%;
  min-height: 340px;
  position: relative;
}
.columns__title {
  text-align: center;
  font-family: "Larsseit";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.06em;
  color: rgba(34, 53, 111, 0.5);
  padding-bottom: 60px;
}
.columns__list {
  font-family: "Larsseit";
  font-weight: 500;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  color: #ffffff;
  padding: 80px 0 0 54px;
}
.columns__list::before {
  content: " ";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #fab63e;
  margin-left: -30px;
  margin-top: 10px;
  border-radius: 50%;
}
.columns__body:nth-child(1) {
  background: #ffe2de;
}
.columns__body:nth-child(2) {
  background: #c4e769;
}
.columns__body:nth-child(3) {
  background: #62d0df;
}
.columns__body:nth-child(4) {
  background: #0052c1;
}

.select {
  background-color: #ffffff;
}
.select__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.select__rows :nth-child(n) {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
.select__cols {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 33.333%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.select__cols:nth-child(1) {
  background-color: #22356f;
}
.select__cols:nth-child(1) :hover {
  content: "";
  background-image: url("../images/eat.png");
}
.select__cols:nth-child(2) {
  background-color: #0052c1;
}
.select__cols:nth-child(2) :hover {
  content: "";
  background-image: url("../images/eat.png");
}
.select__cols:nth-child(3) {
  background: #ffe2de;
}
.select__cols:nth-child(3) :hover {
  content: "";
  background-image: url("../images/eat.png");
}
.select__cols:nth-child(4) {
  background: #62d0df;
}
.select__cols:nth-child(4) :hover {
  content: "";
  background-image: url("../images/eat.png");
}
.select__cols:nth-child(5) {
  background: #dee1ff;
}
.select__cols:nth-child(5) :hover {
  content: "";
  background-image: url("../images/eat.png");
}
.select__cols:nth-child(6) {
  background: #8f00ff;
}
.select__cols:nth-child(6) :hover {
  content: "";
  background-image: url("../images/eat.png");
}
.select__title {
  display: list-item;
  list-style-position: inside;
  font-family: "Larsseit";
  font-weight: 500;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  color: #fff;
  padding: 30px 0px 323px 72px;
}
.select__title::marker {
  color: #e9b730;
}
.select__title:hover {
  color: #e9b730;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.more {
  background-color: #ffffff;
}
.more__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 22px 0px;
}
.more__columns {
  width: 33.333%;
}
.more__title {
  padding: 59px 0px 0px 105px;
  font-family: "Larsseit";
  font-weight: 700px;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.03em;
  color: #22356f;
}
.more__title:hover {
  color: #62d0df;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.more__body {
  padding: 37px 77px 42px 105px;
  font-family: "Larsseit";
  font-weight: 500px;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}

.help {
  background-color: #ffffff;
  padding-top: 40px;
}
.help__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.help__background {
  background-image: url("../images/person_sec3.png");
  background-repeat: no-repeat;
  background-position: left;
  width: 30%;
  background-repeat: no-repeat;
}
.help__body {
  padding: 103px 0 0 106px;
}
.help__title {
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  color: #22356f;
  text-transform: uppercase;
  font-family: "Larsseit";
  font-weight: 500;
}
.help__description {
  padding-top: 240px;
  max-width: 670px;
  font-family: "Larsseit";
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.01em;
  color: #22356f;
}
.help__description a {
  color: #62d0df;
  text-decoration: none;
}
.help__description a:hover {
  color: #e9b730;
  -webkit-transition: color 250ms ease-in-out;
  -o-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}
.help__footer {
  padding-top: 90px;
  padding-bottom: 10px;
  font-family: "Larsseit";
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #fab63e;
}
.help__footer a {
  text-decoration: none;
  color: #fab63e;
  cursor: pointer;
}
.help__footer a:hover {
  background-color: #fab63e;
  color: #fff;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  padding: 10px 0;
}

.ready__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #22356f;
}
.ready__body {
  padding: 103px 0 0 194px;
  max-width: 560px;
}
.ready__title {
  font-family: "Larsseit";
  font-weight: 500;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-bottom: 230px;
}
.ready__subitle {
  font-family: "Larsseit";
  font-weight: 700;
  font-size: 64px;
  line-height: 94px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.ready__text {
  font-family: "Larsseit";
  font-weight: 300;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.005em;
  padding: 70px 0px;
  color: #ffffff;
}
.ready__footer a {
  font-family: "Larsseit";
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  color: #62d0df;
}
.ready__footer a:hover {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contacts {
  background-color: #fff;
}
.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 98px 0 0 68px;
}
.contacts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
  padding-right: 40px;
}
.contacts__title {
  font-family: "Larsseit";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
  color: #22356f;
  padding-bottom: 28px;
}
.contacts__more {
  font-family: "Larsseit";
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}
.contacts__state {
  padding-bottom: 20px;
}
.contacts .contacts__state-phone {
  font-style: 500;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.006em;
  text-decoration: none;
  color: rgba(34, 53, 111, 0.5);
}
.contacts .contacts__state-phone :focus {
  outline: none;
}
.contacts .contacts__state-mail {
  text-decoration: none;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.006em;
  color: #006dff;
}
.contacts .contacts__state-mail :focus {
  outline: none;
}

.footer {
  background: #62d0df;
}
.footer__row {
  padding: 32px 0px 26px 0px;
}
.footer__text {
  font-family: "Larsseit";
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
  color: #ffffff;
}

.popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.popup__body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 530px;
  background-color: #e5e5e5;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: #000;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.popup__content {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Larsseit";
  font-weight: 700;
}
.popup__tiile {
  font-family: "Larsseit";
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #22356f;
  padding-top: 10px;
}
.popup__modal {
  min-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 0;
}
.popup__modal input::-webkit-input-placeholder, .popup__modal textarea::-webkit-input-placeholder {
  font-family: "Larsseit";
  font-weight: 300;
}
.popup__modal input::-moz-placeholder, .popup__modal textarea::-moz-placeholder {
  font-family: "Larsseit";
  font-weight: 300;
}
.popup__modal input:-ms-input-placeholder, .popup__modal textarea:-ms-input-placeholder {
  font-family: "Larsseit";
  font-weight: 300;
}
.popup__modal input::-ms-input-placeholder, .popup__modal textarea::-ms-input-placeholder {
  font-family: "Larsseit";
  font-weight: 300;
}
.popup__modal input::placeholder,
.popup__modal textarea::placeholder {
  font-family: "Larsseit";
  font-weight: 300;
}
.popup__form {
  padding: 20px 0 5px 5px;
  margin-bottom: 20px;
  background-color: #e5e5e5;
  outline: none;
  border: 1px solid #ccc;
  resize: none;
  cursor: pointer;
  border-radius: 5px;
}
.popup__footer {
  padding-top: 30px;
}
.popup__btn {
  font-family: "Larsseit";
  font-weight: 700;
  width: 100%;
  background: #62d0df;
  color: white;
  border: 0;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.035em;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}
.popup .popup__btn:hover {
  background-color: #fab63e;
  -webkit-transition: background-color 500ms ease-in-out;
  -o-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}
.popup .close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  color: #22356f;
  cursor: pointer;
}
.popup .close :hover {
  color: rgb(238, 82, 82);
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Bold.eot");
  src: local("☺"), url("../fonts/Larsseit-Bold.woff") format("woff"), url("../fonts/Larsseit-Bold.ttf") format("truetype"), url("../fonts/Larsseit-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Light.eot");
  src: local("☺"), url("../fonts/Larsseit-Light.woff") format("woff"), url("../fonts/Larsseit-Light.ttf") format("truetype"), url("../fonts/Larsseit-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Medium.eot");
  src: local("☺"), url("../fonts/Larsseit-Medium.woff") format("woff"), url("../fonts/Larsseit-Medium.ttf") format("truetype"), url("../fonts/Larsseit-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Regular.eot");
  src: local("☺"), url("../fonts/Larsseit-Regular.woff") format("woff"), url("../fonts/Larsseit-Regular.ttf") format("truetype"), url("../fonts/Larsseit-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}