@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Larsseit";
  font-size: 16px;
}

.container {
  max-width: 1145px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
}

.header {
  background: #F4F9E2;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  padding: 27px 0px;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #62D0DF;
}
.header__nav {
  position: relative;
}
.header__list {
  position: absolute;
  z-index: 22;
  top: 0;
  right: -189px;
  padding: 38px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__list a {
  margin-right: 38px;
  font-size: 14px;
  line-height: 16px;
  color: #22356F;
}
.header__list a:hover {
  color: #FAB63E;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
.header__list li:last-child {
  margin-right: 0px;
}
.header__button {
  padding: 35px 0px 9px 0px;
  position: relative;
  z-index: 3;
}
.header__button a {
  padding: 20px 30px;
  background: #62D0DF;
  border-radius: 50px;
  font-size: 14px;
  line-height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-family: "Larsseit";
  font-weight: 700;
  text-transform: uppercase;
}
.header__button a:hover {
  background-color: #FAB63E;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.main {
  background: #F4F9E2;
}
.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__body {
  max-width: 484px;
  margin-bottom: 75px;
}
.main__logo {
  padding: 154px 0px 53px 0px;
  font-family: "Larsseit";
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #62D0DF;
}
.main__title {
  font-family: "Larsseit";
  font-weight: normal;
  font-size: 48px;
  line-height: 53px;
  letter-spacing: -0.035em;
  color: #22356F;
}
.main__text {
  padding: 82px 0px 60px 0px;
  font-family: "Larsseit";
  font-weight: 300;
  font-size: 24px;
  line-height: 42px;
  color: #22356F;
  text-align: justify;
}
.main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.main__btn {
  padding: 10px 30px;
  margin-right: 10px;
  font-family: "Larsseit";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #FAB63E;
  background: inherit;
}
.main .active, .main__btn:hover {
  background: #FAB63E;
  color: white;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main__figure {
  position: relative;
}
.main__figure-block {
  position: absolute;
  top: -245px;
  left: 260px;
}
.main__figure-img {
  position: absolute;
  z-index: 2;
  top: -96px;
  left: 96px;
}

.why {
  background: url("../images/person_sec2.png") no-repeat center right, #62D0DF 70%;
}
.why__title {
  padding: 154px 0px 75px 0px;
  font-family: "Larsseit";
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  font-family: "Larsseit";
  font-weight: 700;
}
.why__subtitle {
  width: 555px;
  font-family: "Larsseit";
  font-size: 24px;
  line-height: 35px;
  color: #FFFFFF;
  font-family: "Larsseit";
  font-weight: 500;
  padding: 0px 0px 95px 0px;
}

.about {
  position: relative;
}
.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 150px 0px 70px 0px;
}
.about__title {
  position: absolute;
  left: 123px;
  top: 150px;
  font-family: "Larsseit";
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #22356F;
}
.about__text p {
  font-size: 24px;
  font-family: "Larsseit";
  font-weight: normal;
  color: #22356F;
  max-width: 554px;
}

.columns__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
}
.columns__body {
  width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.columns__title {
  text-align: center;
  font-family: "Larsseit";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.06em;
  color: rgba(34, 53, 111, 0.5);
  padding-bottom: 60px;
}
.columns__list {
  font-family: "Larsseit";
  font-weight: normal;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  padding: 31px 0px 200px 52px;
  color: #FFFFFF;
  display: list-item;
  list-style-position: inside;
}
.columns__list:nth-child(2) {
  letter-spacing: 0em;
}
.columns__row hr {
  max-width: 90%;
  border-bottom: 1px solid #FFF;
  margin: 93px 52px 0px 52px;
}
.columns__list::marker {
  color: #FAB63E;
}
.columns__body:nth-child(1) {
  background: #FFE2DE;
}
.columns__body:nth-child(2) {
  background: #C4E769;
}
.columns__body:nth-child(3) {
  background: #62D0DF;
}
.columns__body:nth-child(4) {
  background: #0052C1;
}

.select__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.select__cols {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 33.333%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.select__cols:nth-child(1) {
  background-color: #22356F;
}
.select__cols:nth-child(2) {
  background-color: #0052C1;
}
.select__cols:nth-child(3) {
  background: url("../images/eat.png") center no-repeat;
  background-size: cover;
}
.select__cols:nth-child(4) {
  background: #62D0DF;
}
.select__cols:nth-child(5) {
  background: #DEE1FF;
}
.select__cols:nth-child(6) {
  background: #8F00FF;
}
.select__cols hr {
  max-width: 80%;
  border-bottom: 1px solid #FFF;
  margin: 93px 70px 0px 68px;
}
.select__title {
  display: list-item;
  list-style-position: inside;
  font-family: "Larsseit";
  font-weight: 500;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  color: #fff;
  padding: 30px 0px 323px 72px;
}
.select__title::marker {
  color: #E9B730;
}
.select__title:hover {
  color: #E9B730;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.more__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 22px 0px;
}
.more__columns {
  width: 33.333%;
}
.more__title {
  padding: 59px 0px 0px 105px;
  font-family: "Larsseit";
  font-weight: 700px;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.03em;
  color: #22356F;
}
.more__title:hover {
  color: #62D0DF;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.more__body {
  padding: 37px 77px 42px 105px;
  font-family: "Larsseit";
  font-weight: 500px;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}

.help {
  margin-top: 40px;
}
.help__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.help__title {
  padding: 103px 0px 225px 105px;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  color: #22356F;
  text-transform: uppercase;
  font-family: "Larsseit";
  font-weight: 500;
}
.help__description {
  padding: 0px 174px 160px 105px;
  font-family: "Larsseit";
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.01em;
  color: #22356F;
}
.help__description a {
  color: #62D0DF;
}
.help__description a:hover {
  text-decoration: underline;
}
.help__footer a {
  padding: 0px 0px 42px 105px;
  font-family: "Larsseit";
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  color: #FAB63E;
}
.help__footer a:hover {
  color: #62D0DF;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.ready__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #22356F;
}
.ready__body {
  margin: 103px 200px 42px 180px;
}
.ready__title {
  font-family: "Larsseit";
  font-weight: 500;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding-bottom: 230px;
}
.ready__subitle {
  font-family: "Larsseit";
  font-weight: 700;
  font-size: 64px;
  line-height: 94px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}
.ready__text {
  font-family: "Larsseit";
  font-weight: 300;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.005em;
  padding: 70px 0px;
  color: #FFFFFF;
}
.ready__footer a {
  font-family: "Larsseit";
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  color: #62D0DF;
}
.ready__footer a:hover {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -11.5px;
}
.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 98px 40px 94px 64px;
}
.contacts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 240px;
          flex: 0 1 240px;
  padding: 0px 11.5px;
  margin: 0px 70px 0px 0px;
}
.contacts__title {
  font-family: "Larsseit";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
  color: #22356F;
  padding-bottom: 48px;
}
.contacts__more {
  font-family: "Larsseit";
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}
.contacts__state {
  padding-bottom: 37px;
}
.contacts__more p:first-child {
  width: 170px;
}

.footer {
  background: #62D0DF;
}
.footer__row {
  padding: 32px 0px 26px 30px;
}
.footer__text {
  font-family: "Larsseit";
  font-weight: 300;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 25;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
}
.popup__close:hover {
  color: #ee5252;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.popup__tiile {
  text-align: center;
  font-family: "Larsseit";
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #62D0DF;
  margin-top: 15px;
}
.popup__modal {
  margin-top: 30px;
}
.popup__form {
  font-family: "Larsseit";
  font-weight: 300;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}
.popup__btn {
  font-family: "Larsseit";
  font-weight: 700;
  background: #62D0DF;
  color: #ffff;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.035em;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}
.popup__btn:hover {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #FAB63E;
}
@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Bold.eot");
  src: local("☺"), url("fonts/Larsseit-Bold.woff") format("woff"), url("fonts/Larsseit-Bold.ttf") format("truetype"), url("fonts/Larsseit-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Light.eot");
  src: local("☺"), url("fonts/Larsseit-Light.woff") format("woff"), url("fonts/Larsseit-Light.ttf") format("truetype"), url("fonts/Larsseit-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Medium.eot");
  src: local("☺"), url("fonts/Larsseit-Medium.woff") format("woff"), url("fonts/Larsseit-Medium.ttf") format("truetype"), url("fonts/Larsseit-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Regular.eot");
  src: local("☺"), url("fonts/Larsseit-Regular.woff") format("woff"), url("fonts/Larsseit-Regular.ttf") format("truetype"), url("fonts/Larsseit-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}